.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* width: 20%; */
}
/* .inputName:focus:active, 
.inputNumber:focus:active{
    border: 1px solid red;
} */
.inputName:focus,
    .inputNumber:focus{
    outline: none;
    border: 1px solid #5ee4ff;
box-shadow: 1px 1px 2px 0 #5ee4ff;
}
.inputName, 
.inputNumber,
.btn{
    padding: 8px 14px;
}
.btn{
    cursor: pointer;
    color: #fff;
    background-color: #0062cc;
    border-color: #0062cc;
    box-shadow: 0 3px 1px -2px rgb(0 0 0/20%), 0 2px 2px 0 rgb(0 0 0/14%), 0 1px 5px 0 rgb(0 0 0/12%);
}
.btn:hover{
    background-color: #1e70c9;
}